@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

*{font-family: 'Source Sans Pro', sans-serif;
}

.itemdetalle{
margin-bottom: 40px;
display: flex;
flex-direction:row;
border: 0px;
padding: 5%;

}

@media only screen and (max-width: 992px){
    .itemdetalle{
        flex-direction:column;
    }
    .heroDet{
        width: 100%!important;
        }
    .card-body{
        margin-top: 18px!important;
        width: 100%!important;
    }
}



.detalle{
    width:100%;
}

.mainTitle{
font-size: 4em;
}





.card-text{
    font-size: 24px;
    font-weight: 300;
}

.subt{
    font-size: 24px;
    font-weight: 600;
}

.light{
    font-weight: 300;
}

.priceDet{
    font-size: 3em;
    font-weight: 900;
    color: #ff5f41;
}

.ctaDet {
    height: 50px;
    width: 160px;
    min-width: 160px;
    background-color: #64d5c1;
    border: 0;
    border-radius: 16px;
    font-size: 24px;
    line-height: 45px;
    text-align: center;
    margin-top: 10px;
    transition: 0.5s;
    float: left;
}

.ctaDet:hover {
    background-color: #ff5f41;
    color: #fff;
    transition: 0.3s;
}
.heroDet{
width: 55%;
height: 30%;
min-height: 700px;
object-fit: cover;
border-radius: 20px;
}

.detBody{
    padding-left: 32px;
    padding-top: 0px;
    margin: 0px;
}